*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
}
/*-------header-------*/
header{
    width: 100vw;
    background-image: url('../img/bg3.jpg');
    background-image: url('../img/bg2.jpg');
    background-image: url('../img/bg1.jpg');
    min-height: 100vh;
    background-size: cover;
    transition: 1s;
}


header > .overlay{
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4vw 5vh;
    display: flex;
    flex-direction: column;
}

.overlay > .menus > h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: white;
}

.menus{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.desktop ul{
    display: flex;
    list-style-type: none;
}

nav.desktop ul li{
    padding: 10px;
    text-align: center;
}


nav.desktop ul li > a{
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

nav.desktop ul a:hover{
    background-color: rgba(255, 255, 255, 0.15);
}

nav.mobile{
    display: none;
	background-repeat: no-repeat;
}

nav.mobile:hover ul{
    display: block;
}

nav.mobile img{
    width: 36px;
    cursor: pointer;
}

nav.mobile ul{
    top: 77px;
    right: 47px;
    display: none;
    position: absolute;
    background-color: rgb(150, 145, 145);
    list-style-type: none;
    width:90vw;
    text-align: center;
    z-index: 999;
}

nav.mobile ul li:not(:nth-child(5)){
    border-bottom:1px solid white;
    
}

nav.mobile ul li:hover{
    background-color: rgb(132, 131, 131);
}
nav.mobile ul li > a{
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.conteiner-previa{
    margin-top: 20vh;
    padding: 2vw;
    width:45vw;
    background-color: rgba(191, 191, 191, 0.3);
    position: relative;
    color: white;
}

.conteiner-previa ul{
    list-style-position: inside;
}

.conteiner-previa h2{
    font-size: 30px;
}

.conteiner-previa p{
    font-size: 20px;
}
/*-------------------*/

/*-------main--------*/

main{
    width: 100vw;
    padding: 0 2%;
}

.conteiner-text{
    color:white;
    background-color: rgb(75, 75, 75);
    width: 55vw;
    padding: 30px;
}

.conteiner-text ul{
    list-style-position: inside;
}

.conteiner-text ul li a{
   color: white;
}

.transicao{
    margin: 2vw 1vh; 
    width: 55vw;
    opacity: 0;
    transform: translate3d(-100px,0,0);
    transition: .3s;
}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

main .right{
    align-self: flex-end;
}

.transicao-start{
    opacity: 1;
    transform: translate3d(0,0,0);
}
/*--------------------------*/

/*---------------contatos----------*/
section.contatos {
    margin-top: 10px;
    padding: 30px 0;
    background-color: rgb(150, 145, 145);
    color: white;
    text-align: center;
    width: 100%;
}

section.contatos h2{
    padding: 10px 0 20px 0; 
}

.contatos a > img{
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.discord  > img, .linkedin > img, .instagram > img, .whatsapp > img{
    border-radius: 10px;
    padding: 5px;
}

.discord > img:hover{
    background-color: rgba(8, 152, 255, 0.3);
}

.linkedin > img:hover{
    background-color: rgba(8, 20, 255, 0.3);
}

.instagram > img:hover{
    background-color: rgba(251, 5, 251, 0.3);
}

.whatsapp > img:hover{
    background-color: rgba(0, 251, 38, 0.3);
}
/*------------------------*/

.conteiner-OU{
    text-align: center;
    color: white;
    transform: translate3d(0,-20px,0);
}

.conteiner-OU h2{
    font-size: 30px;
    font-weight: normal;
}
/*-----------form-----------*/
section.form{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 0 2%;
}

section.form > h2{
    font-weight: normal;
}

form > div{
    margin: 20px;
}

form > div > p{
    margin-bottom: 5px;
}

section.form input[type=text], section.form input[type=email]{
    width: 90%;
    max-width: 400px;
    height: 45px;
    line-height: 45px;
    padding-left: 7px;
    border-radius: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
}

section.form textarea{
    width: 90%;
    max-width: 400px;
    height: 100px;
    padding-left: 7px;
    padding-top: 7px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    resize: none;
    color: white;
}

section.form input[type=submit]{
    background-color: rgba(255, 255, 255, 0.0);
    width: 140px;
    height: 45px;
    cursor: pointer;
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    transition: 0.7s;
}

section.form input[type=submit]:hover{
    background-color: green;
    color: white;
    border: 1px solid white;
}

section.form input[type=reset]{
    background-color: rgba(255, 255, 255, 0.0);
    width: 140px;
    height: 45px;
    cursor: pointer;
    color: white;
    border: 1px solid  white;
    border-radius: 10px;
    transition: 0.7s;
}

section.form input[type=reset]:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/*--------------------------*/

/*---------footer--------*/
footer{
    padding: 0 2%;
    color: white;
}
.conteiner-footer{
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0 20px 0;
}
/*--------------------------*/

@media screen and (max-width:1024px) {
    .menus{
        justify-content: space-between;
        align-items: center;
    }
    
    .menus > nav.desktop{
        display: none;
    }
    div > nav.mobile{
        display:block;
        align-self: center;
    }

    .transicao{
        width: 95vw;
    }

    .conteiner-previa{
        width: 90vw;
    }
    
    .conteiner-text{
        width: 100%;
    }
}

@media screen and (max-width:768px){
    header{
        background-position: center;
    }

    .discord > img{
        background-color: rgba(8, 152, 255, 0.3);
    }

    .linkedin > img{
        background-color: rgba(8, 20, 255, 0.3);
    }

    .instagram > img{
        background-color: rgba(251, 5, 251, 0.3);
    }	

    .whatsapp > img{
        background-color: rgba(0, 251, 38, 0.3);
    }

    .discord > img:hover{
        background-color: rgba(8, 152, 255, 0.5);
    }

    .linkedin > img:hover{
        background-color: rgba(8, 20, 255, 0.5);
    }

    .instagram > img:hover{
        background-color: rgba(251, 5, 251, 0.5);
    }

    .whatsapp > img{
        background-color: rgba(0, 251, 38, 0.5);
    }

}

@media screen and (max-width:640px){
    header > .overlay{
        width: 100vw;
        min-height: 100vh;
    }

    header{
        width: 100vw;
        min-height: 100vh;
    }

    .conteiner-previa h2{
        font-size: 20px;
    }

    .conteiner-previa p{
        font-size: 15px;
    }

    .conteiner-previa ul li{
        font-size: 15px;
    }
    
    main .right{
        align-self: auto;
    }

    .conteiner-previa{
        width:100%;
    }

    .transicao{
        margin: 1vh auto; 
    }
}

